.app.dark {
  background-color: var(--color-black-100);
  color: var(--color-gray-250);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: var(--color-black-100);

    .tableCell {
      color: var(--color-gray-300);
    }
  }

  .navbar {
    color: var(--color-gray-200);
    border-color: var(--color-black);

    .search {
      border-color: var(--color-gray-300);
    }
  }

  .sidebar {
    background-color: var(--color-black-100);
    border-color: var(--color-black);

    .top {
      .logo {
        color: var(--color-gray-200);
      }
    }
    hr {
      border-color: var(--color-black);
    }

    ul {
      li {
        &:hover {
          background-color: var(--color-black);
        }

        .icon {
          color: var(--color-gray-200);
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: var(--color-gray-300);
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: var(--color-gray-300);
        border: none;
      }
    }
  }

  input {
    background-color: transparent;
  }
}
