* {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

:root {
  //colors
  --color-white: #ffffff;
  --color-gray-100: #f5f5f5;
  --color-gray-150: #d3d3d3;
  --color-gray-200: #999;
  --color-gray-300: #888;
  --color-gray-400: #555;
  --color-purple: #6439ff;
  --color-purple-100: #ece8ff;
  --color-purple-500: #7451f8;
  --color-blue-500: #00008b;
  --color-black: #333;
  --color-red: red;
}
