* {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

:root {
  //colors
  --color-white: #ffffff;
  --color-gray-100: #f5f5f5;
  --color-gray-150: #d3d3d3;
  --color-gray-200: #999;
  --color-gray-300: #888;
  --color-gray-400: #555;
  --color-purple: #6439ff;
  --color-purple-100: #ece8ff;
  --color-purple-500: #7451f8;
  --color-blue-500: #00008b;
  --color-black: #333;
  --color-red: #ff0000;
  --color-red-500: #dc143c;
  --color-green: #008000;
  --color-green-teal: #008080;
  --color-yellow-gold: #daa520;

  //box-shadows
  --regular-box-shadow: 1px 2px 2px hsla(224, 5%, 52%, 0.2),
    2px 4px 4px hsla(224, 5%, 52%, 0.2), 4px 8px 8px hsla(224, 5%, 52%, 0.2),
    8px 16px 16px hsla(224, 5%, 52%, 0.2),
    16px 32px 32px hsla(224, 5%, 52%, 0.2);

  --light-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
